/* 다크 모드 */
.dx-theme-dark .dx-datagrid{
  background-color: #1B1A19;
  color: #EDECEB;
}
.dx-theme-dark .dx-datagrid .dx-datagrid-summary-item{
  background-color: #1B1A19;
  color: #EDECEB;
}
.dx-theme-dark .dx-datagrid .dx-toolbar{
  background-color: #1B1A19;
  color: #EDECEB;
}
.dx-theme-dark .dx-datagrid .dx-button{
  background-color: #1B1A19;
  color: #EDECEB;
}
.dx-theme-dark .dx-datagrid .dx-textbox{
  background-color: #1B1A19;
  color: #EDECEB;
}
.dx-theme-dark .dx-datagrid i{
  background-color: #1B1A19;
  color: #EDECEB;
}
.dx-theme-dark .dx-datagrid .dx-data-row:hover{
  background-color: gray;
  color: #fff;
}
.dx-theme-dark .dx-datagrid .dx-texteditor-input{
  color: #EDECEB;
}
.dx-theme-dark .dx-datagrid .dx-loadpanel-content{
  background-color: #1B1A19;
  color: #EDECEB;
}



.dx-theme-dark .dx-popup-wrapper {
  background-color:rgba(0,0,0,0.7);
}

.dx-theme-dark .dx-popup-wrapper .dx-popup-normal{
  background-color: #1B1A19;
  color: #EDECEB;
}
.dx-theme-dark .dx-popup-wrapper .dx-popup-normal .dx-toolbar-item-content{
  background-color: #1B1A19;
  color: #EDECEB;
}



